.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

.navbar li a {
  display: block;
  padding: 8px;
  background-color: #d8acac;
}

.active {
  color: #63615a;
}